services:
  frontend:
    build: ./frontend
    ports:
      - 5173:5173
    
  backend:
    build: ./backend
    ports:
      - 8000:8000
    env_file:
      - ./backend/.env
    environment:
      - REDIS_HOST=redis
      - DB_HOST=db
    depends_on:
      - db
    volumes:
      - backend_logs:/logs  
  
  db:
    image: postgres:17
    env_file:
      - db.env
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  backend_logs:
  redis_data:
