services:
  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
    volumes:
      - "./nginx.conf:/etc/nginx/nginx.conf:ro"
    depends_on:
      - frontend
      - backend
    networks:
      - app_network

  frontend:
    build: ./frontend
    expose:
      - "5173"
    networks:
      - app_network
    
  backend:
    build: ./backend
    expose:
      - "8000"
    env_file:
      - ./backend/.env
    environment:
      - REDIS_HOST=redis
      - DB_HOST=db
    depends_on:
      - db
    volumes:
      - backend_logs:/logs  
    networks:
      - app_network
  
  db:
    image: postgres:17
    env_file:
      - ./db.env
    expose:
      - "5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    expose:
      - "6379"
    volumes:
      - redis_data:/data

networks:
  app_network:

volumes:
  postgres_data:
  backend_logs:
  redis_data:
